asgiref==3.7.2
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0.2
django-cron==0.6.0
django-qrcode==0.3
humanize==4.9.0
idna==3.6
pillow==10.2.0
pypng==0.20220715.0
python-dotenv==1.0.1
qrcode==7.4.2
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2024.1
urllib3==2.2.1
whitenoise==5.3.0
