<div id="kt_app_footer" class="app-footer align-items-center justify-content-center justify-content-md-between flex-column flex-md-row py-3">
    <!--begin::Copyright-->
    <div class="text-dark order-2 order-md-1">
        <span class="text-muted fw-semibold me-1">2024©</span>
        <a href="https://github.com/drunkleen" target="_blank" class="text-gray-800 text-hover-primary">DrunkLeen</a>
    </div>
    <!--end::Copyright-->
    <!--begin::Menu-->
    <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
        {#            <li class="menu-item">#}
        {#                <a href="#" target="_blank" class="menu-link px-2">About</a>#}
        {#            </li>#}
    </ul>
    <!--end::Menu-->
</div>