{% load static %}
{% block content %}
<div id="kt_app_header" class="app-header d-flex flex-column flex-stack">
    <div class="d-flex align-items-center flex-stack flex-grow-1">
        <div class="app-header-logo d-flex align-items-center flex-stack px-lg-11 mb-2" id="kt_app_header_logo">
            <div class="btn btn-icon btn-active-color-primary w-35px h-35px ms-3 me-2 d-flex d-lg-none" id="kt_app_sidebar_mobile_toggle">
                <i class="ki-duotone ki-abstract-14 fs-2">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </i>
            </div>
            <a href="#" class="app-sidebar-logo">
                <img alt="Logo" src="{% static 'panel/media/logos/default-small.png' %}" class="h-50px theme-light-show" />
                <img alt="Logo" src="{% static 'panel/media/logos/default-dark-small.png' %}" class="h-50px theme-dark-show" />
            </a>
            <div id="kt_app_sidebar_toggle" class="app-sidebar-toggle btn btn-sm btn-icon btn-color-warning me-n2 d-none d-lg-flex" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="app-sidebar-minimize">
                <i class="ki-duotone ki-exit-left fs-2x rotate-180">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </i>
            </div>
        </div>
        {% include 'panel/components/navbar.html' %}
    </div>
    <div class="app-header-separator"></div>
</div>
{% endblock content %}