{% load static %}
{% block content %}

    <div id="kt_app_sidebar" class="app-sidebar flex-column" data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
        <!--begin::Main-->
        <div class="d-flex flex-column justify-content-between h-100 hover-scroll-overlay-y my-2 d-flex flex-column" id="kt_app_sidebar_main" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_header" data-kt-scroll-wrappers="#kt_app_main" data-kt-scroll-offset="5px">
            <!--begin::Sidebar menu-->
            <div id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false" class="flex-column-fluid menu menu-sub-indention menu-column menu-rounded menu-active-bg mb-7">

                {% if request.user.account_type != 'user' %}
                    <!--begin:Menu item-->
                    <div data-kt-menu-trigger="click"
                            {% if page_title|first == 'User Management' %}
                         class="menu-item here show menu-accordion"
                            {% else %}
                         class="menu-item here menu-accordion"
                            {% endif %}
                    >
                        <!--begin:Menu link-->
                        <span class="menu-link">
                                            <span class="menu-icon">
                                                <i class="ki-duotone ki-element-11 fs-1">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                    <span class="path4"></span>
                                                </i>
                                            </span>
                                            <span class="menu-title">User Management</span>
                                            <span class="menu-arrow"></span>
                                        </span>
                        <!--end:Menu link-->
                        <!--begin:Menu sub-->
                        <div class="menu-sub menu-sub-accordion">
                            <div class="menu-item">
                                {% if page_title|last == 'Overview' %}
                                <a class="menu-link active" href="#">
                                {% else %}
                                <a class="menu-link" href="{% url 'panel-admin' %}">
                                {% endif %}
                                    <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                                    <span class="menu-title">
                                        Overview
                                    </span>
                                </a>
                            </div>
                            <!--end:Menu item-->
                            <!--begin:Menu item-->
                            <div class="menu-item">
                                <!--begin:Menu link-->
                                {% if page_title|last == 'User List' %}
                                    <a class="menu-link active" href="#">
                                {% else %}
                                    <a class="menu-link" href="{% url 'panel-admin-user-lists' %}">
                                {% endif %}
                                                    <span class="menu-bullet">
                                                        <span class="bullet bullet-dot"></span>
                                                    </span>
                                    <span class="menu-title">User List
                                                    </span>
                                </a>
                                <!--end:Menu link-->
                            </div>
                            <!--end:Menu item-->
                        </div>
                        <!--end:Menu sub-->
                    </div>
                    <!--end:Menu item-->
                {% endif %}

                <!--begin:Menu item-->

                <div data-kt-menu-trigger="click"
                        {% if page_title|first == 'Users' %}
                     class="menu-item here show menu-accordion"
                        {% else %}
                     class="menu-item here menu-accordion"
                        {% endif %}
                >

                    <!--begin:Menu link-->
                    <span class="menu-link">
										<span class="menu-icon">
											<i class="ki-duotone ki-profile-user fs-1">
												<span class="path1"></span>
												<span class="path2"></span>
												<span class="path3"></span>
												<span class="path4"></span>
											</i>
										</span>
										<span class="menu-title">Users</span>
										<span class="menu-arrow"></span>
									</span>
                    <!--end:Menu link-->
                    <!--begin:Menu sub-->
                    <div class="menu-sub menu-sub-accordion">
                        <!--begin:Menu item-->
                        <div data-kt-menu-trigger="click"
                                {% if 'Profile' == page_title|slice:2|last %}
                             class="menu-item here show menu-accordion"
                                {% else %}
                             class="menu-item here menu-accordion"
                                {% endif %}
                        >
                            <!--begin:Menu link-->
                            <span class="menu-link">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title">Profile</span>
												<span class="menu-arrow"></span>
											</span>
                            <!--end:Menu link-->

                            <!--begin:Menu sub-->
                            <div class="menu-sub menu-sub-accordion">
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->

                                    {% if page_title|last == 'User Profile' %}
                                        <a class="menu-link active" href="#">
                                    {% else %}
                                        <a class="menu-link" href="{% url 'panel-user-profile' request.user.username %}">
                                    {% endif %}
														<span class="menu-bullet">
															<span class="bullet bullet-dot"></span>
														</span>
                                        <span class="menu-title">User Profile</span>
                                    </a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                            </div>
                            <!--end:Menu sub-->


                        </div>
                        <!--end:Menu item-->
                    </div>
                    <!--end:Menu sub-->
                </div>
                <!--end:Menu item-->

                <!--begin:Menu item-->
                <div data-kt-menu-trigger="click"
                        {% if page_title|first == 'Link Control' %}
                     class="menu-item here show menu-accordion"
                        {% else %}
                     class="menu-item here menu-accordion"
                        {% endif %}
                >
                    <!--begin:Menu link-->
                    <span class="menu-link">
                                            <span class="menu-icon">
                                                <i class="ki-duotone ki-paper-clip fs-1">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                    <span class="path4"></span>
                                                </i>
                                            </span>
                                            <span class="menu-title">Link Control</span>
                                            <span class="menu-arrow"></span>
                                        </span>
                    <!--end:Menu link-->
                    <!--begin:Menu sub-->
                    <div class="menu-sub menu-sub-accordion">

                        <!--begin:Menu item-->
                        <div class="menu-item">
                            <!--begin:Menu link-->
                            {% if page_title|last == 'View Links' %}
                                <a class="menu-link active " href="{% url 'user-view-links' request.user.username %}">
                            {% else %}
                            <a class="menu-link" href="{% url 'user-view-links' request.user.username %}">
                            {% endif %}


                            <span class="menu-bullet">
                                        <span class="bullet bullet-dot"></span>
                                    </span>
                            <span class="menu-title">
                                        View Links
                                    </span>
                            </a>
                            <!--end:Menu link-->
                        </div>
                        <!--end:Menu item-->
                    </div>
                    <!--end:Menu sub-->
                </div>
                <!--end:Menu item-->

            </div>
            <!--end::Sidebar menu-->
            <!--begin::Footer-->
            <div class="app-sidebar-project-default app-sidebar-project-minimize text-center min-h-lg-400px flex-column-auto d-flex flex-column justify-content-end" id="kt_app_sidebar_footer">
                <!--begin::Title-->
                <h2 class="fw-bold text-gray-800">Make a difference</h2>
                <!--end::Title-->
                <!--begin::Description-->
                <div class="fw-semibold text-gray-700 fs-7 lh-2 px-7 mb-1">Help us develop this tool</div>
                <!--end::Description-->
                <!--begin::Illustration-->
                <img class="mx-auto h-150px h-lg-175px mb-4" src="{% static 'panel/media/misc/welcome.png' %}" alt="" />
                <!--end::Illustration-->
                <div class="text-center mb-lg-5 pb-lg-3">
                    <a href="https://github.com/drunkleen/Gate-Keeper" class="btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-target="#kt_modal_create_account">Visit Github Repo</a>
                </div>
            </div>
            <!--end::Footer-->
        </div>
        <!--end::Main-->
    </div>

{% endblock content %}