{% load static %}
{% block toolbar %}


    {% if messages %}
        {% for message in messages %}

    <div
            {% if message.tags == 'error' %}
            class="notice d-flex bg-light-danger rounded border-danger border border-dashed p-6"
            {% elif message.tags == 'success' %}
            class="notice d-flex bg-light-success rounded border-success border border-dashed p-6"
            {% else %}
            class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6"
            {% endif %}>
        <i
                {% if message.tags == 'error' %}
                class="ki-duotone ki-cross-circle fs-2tx text-danger me-4"
                {% elif message.tags == 'success' %}
                class="ki-duotone ki-like fs-2tx text-success me-4"
                {% else %}
                class="ki-duotone ki-question fs-2tx text-primary me-4"
                {% endif %}
        >
            <span class="path1"></span>
            <span class="path2"></span>
        </i>
        <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
            <div class="mb-3 mb-md-0 fw-semibold">
                <h4 class="text-gray-900 fw-bold">{{ message.tags }}</h4>
                <div class="fs-6 text-gray-700 pe-7">{{ message }}</div>
            </div>
        </div>
    </div>
        {% endfor %}
    {% endif %}

    <div id="kt_app_toolbar" class="app-toolbar pt-5">
        <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
            <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
                <div class="page-title d-flex flex-column gap-1 me-3 mb-2">
                    <ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-6">
                        <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                            {% if request.user.account_type != user %}
                                <a href="{% url 'panel-admin' %}" class="text-gray-500">
                                    <i class="ki-duotone ki-home fs-3 text-gray-400 me-n1"></i>
                                </a>
                            {% else %}
                                <a href="{% url 'panel-user' %}" class="text-gray-500">
                                    <i class="ki-duotone ki-home fs-3 text-gray-400 me-n1"></i>
                                </a>
                            {% endif %}
                        </li>


                        {% for item in page_title %}

                            <li class="breadcrumb-item">
                                <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                            </li>
                            <li class="breadcrumb-item text-gray-700 fw-bold lh-1">{{ item }}</li>
                        {% endfor %}
                    </ul>
                    <h1 class="page-heading d-flex flex-column justify-content-center text-dark fw-bolder fs-1 lh-0">
                        {{ page_title|last }}</h1>
                </div>

            </div>
        </div>
    </div>
    
{% endblock toolbar %}