{% extends 'panel/main_panel.html' %}
{% load static %}
{% block content %}

    {% include 'panel/components/header.html' %}

    <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
        {% include 'panel/components/sidebar.html' %}
        <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
            <div class="d-flex flex-column flex-column-fluid">
                <div id="kt_app_content" class="app-content flex-column-fluid">
                
                {% include 'panel/components/toolbar.html' %}

                {% block content-wrapper %}{% endblock content-wrapper %}

                </div>

            </div>

            {% include 'panel/components/footer.html' %}
        </div>


    </div>

{% endblock content %}