{% extends 'panel/main_panel.html' %}
{% load static %}
{% block content %}

    {% include 'panel/components/header.html' %}

    <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
        <!--begin::Sidebar-->
        {% include 'panel/components/sidebar.html' %}
        <!--end::Sidebar-->
        <!--begin::Main-->
        <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
            <!--begin::Content wrapper-->
            <div class="d-flex flex-column flex-column-fluid">
                <!--begin::Content-->
                <div id="kt_app_content" class="app-content flex-column-fluid">
                
                <!--begin::Toolbar-->
                {% include 'panel/components/toolbar.html' %}
                <!--end::Toolbar-->

                {% block content-wrapper %}{% endblock content-wrapper %}

                </div>
                <!--end::Content-->

            </div>
            <!--end::Content wrapper-->

            <!--begin::Footer-->
            {% include 'panel/components/footer.html' %}
            <!--end::Footer-->
        </div>

        <!--end:::Main-->
        <!--begin::aside-->
        <div id="kt_app_aside" class="app-aside flex-column" data-kt-drawer="true" data-kt-drawer-name="app-aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="auto" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_app_aside_mobile_toggle">
            <!--begin::Wrapper-->
            <div id="kt_app_aside_wrapper" class="d-flex flex-column align-items-center hover-scroll-y py-5 py-lg-0 gap-4" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_header" data-kt-scroll-wrappers="#kt_app_aside_wrapper" data-kt-scroll-offset="5px">
                <a href="#" class="btn btn-icon btn-color-primary bg-hover-body h-45px w-45px flex-shrink-0 mb-4" data-bs-toggle="tooltip" title="Calendar" data-bs-custom-class="tooltip-inverse">
                    <i class="ki-duotone ki-calendar-add fs-2qx">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                        <span class="path5"></span>
                        <span class="path6"></span>
                    </i>
                </a>
                <a href="#" class="btn btn-icon btn-color-warning bg-hover-body h-45px w-45px flex-shrink-0 mb-4" data-bs-toggle="tooltip" title="Profile" data-bs-custom-class="tooltip-inverse">
                    <i class="ki-duotone ki-message-add fs-2qx">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                    </i>
                </a>
                <a href="#" class="btn btn-icon btn-color-info bg-hover-body h-45px w-45px flex-shrink-0 mb-4" data-bs-toggle="tooltip" title="Products" data-bs-custom-class="tooltip-inverse">
                    <i class="ki-duotone ki-devices-2 fs-2qx">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                    </i>
                </a>
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::aside-->
    </div>

{% endblock content %}