{% extends 'main.html' %}
{% load static %}
{% block content %}

    <div class="d-flex flex-column flex-root" id="kt_app_root">
        <div class="d-flex flex-column flex-lg-row flex-column-fluid">
            <div class="d-flex flex-column flex-lg-row-auto bg-primary w-xl-600px positon-xl-relative">
                <div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-600px scroll-y">->
                    <div class="d-flex flex-row-fluid flex-column text-center p-5 p-lg-10 pt-lg-20">
                        <a href="#" class="py-2 py-lg-20">
                            <img alt="Logo" src="{% static 'panel/media/logos/Logo.png ' %}" class="h-40px h-lg-50px" />
                        </a>
                        
                        <h1 class="d-none d-lg-block fw-bold text-white fs-2qx pb-5 pb-md-10">Welcome to Gate Keeper</h1>
                        
                        <p class="d-none d-lg-block fw-semibold fs-2 text-white">
                            a panel you can trust
                            <br />
                            to make your links safe
                        </p>
                    </div>

                    <div class="d-none d-lg-block d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px" style="background-image: url({% static 'panel/media/illustrations/sketchy-1/17.png' %})"></div>
                </div>
            </div>

            <div class="d-flex flex-column flex-lg-row-fluid py-10">
                <div class="d-flex flex-center flex-column flex-column-fluid">
                    <div class="w-lg-550px p-10 p-lg-15 mx-auto">
                        
                        <form class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework" action="{% url 'reset-password' reset_key %}" method="POST"
                              novalidate="novalidate" data-kt-redirect-url="/saul-html-free/authentication/sign-in/basic.html" id="kt_new_password_form">
                            {% csrf_token %}
                            <div class="text-center mb-10">
                                <h1 class="text-dark mb-3">
                                    Setup New Password
                                </h1>


                            </div>

                            <div class="mb-10 fv-row fv-plugins-icon-container" data-kt-password-meter="true">
                                <div class="mb-1">
                                    <label class="form-label fw-bold text-dark fs-6">
                                        Password
                                    </label>

                                    <div class="position-relative mb-3">
                                        <input class="form-control form-control-lg form-control-solid" type="password" placeholder="" name="password" autocomplete="off">

                                        <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                    <i class="ki-duotone ki-eye-slash fs-2"></i>                    <i class="ki-duotone ki-eye fs-2 d-none"></i>                </span>
                                    </div>

                                    <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
                                    </div>
                                </div>
                                <div class="text-muted">
                                    Use 8 or more characters with a mix of letters, numbers &amp; symbols.
                                </div>
                                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div></div>
                            
                            <div class="fv-row mb-10 fv-plugins-icon-container">
                                <label class="form-label fw-bold text-dark fs-6">Confirm Password</label>

                                <input class="form-control form-control-lg form-control-solid" type="password" placeholder="" name="confirm-password" autocomplete="off">
                                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div></div>
                            
                            <div class="text-center">
                                <button type="submit" id="kt_new_password_submit" class="btn btn-lg btn-primary fw-bold">
            <span class="indicator-label">
                Reset Password
            </span>

                                    <span class="indicator-progress">
                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
                    
                    <div class="d-flex flex-center fw-semibold fs-6">
                        <a href="https://keenthemes.com" class="text-muted text-hover-primary px-2" target="_blank">About</a>

                        <a href="https://devs.keenthemes.com" class="text-muted text-hover-primary px-2" target="_blank">Support</a>

                        <a href="https://keenthemes.com/products/saul-html-pro" class="text-muted text-hover-primary px-2" target="_blank">Purchase</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}