{% extends 'main.html' %}
{% load static %}
{% block content %}

    <div class="d-flex flex-column flex-root" id="kt_app_root">
        <div class="d-flex flex-column flex-lg-row flex-column-fluid">
            <div class="d-flex flex-column flex-lg-row-auto bg-primary w-xl-600px positon-xl-relative">
                <div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-600px scroll-y">
                    <div class="d-flex flex-row-fluid flex-column text-center p-5 p-lg-10 pt-lg-20">
                        <a href="#" class="py-2 py-lg-20">
                            <img alt="Logo" src="{% static 'panel/media/logos/default-dark.png' %}" class="h-50px h-lg-100px" />
                        </a>
                        <h1 class="d-none d-lg-block fw-bold text-white fs-2qx pb-5 pb-md-10">Welcome to {{ custom_app_name }}</h1>
                        <p class="d-none d-lg-block fw-semibold fs-2 text-white">
                            a panel you can trust
                            <br />
                            to make your links safe
                        </p>
                    </div>
                    <div class="d-none d-lg-block d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px" style="background-image: url({% static 'panel/media/illustrations/sketchy-1/17.png' %})"></div>
                </div>
            </div>
            <div class="d-flex flex-column flex-lg-row-fluid py-10">
                <div class="d-flex flex-center flex-column flex-column-fluid">
                    <div class="w-lg-500px p-10 p-lg-15 mx-auto">
                        <form class="form w-100" novalidate="novalidate" id="kt_sign_in_form" action="{% url 'sign-in' %}" method="POST">
                            {% csrf_token %}
                            <div class="text-center mb-10">
                                <h1 class="text-dark mb-3">Sign In to {{ custom_app_name }}</h1>
                                <div class="text-gray-400 fw-semibold fs-4">New Here?
                                    <a href="{% url 'sign-up' %}" class="link-primary fw-bold">Create an Account</a></div>
                            </div>

                            {% if messages %}
                                {% for message in messages %}

                                    <div
                                            {% if message.tags  == 'error'%}
                                                class="notice d-flex bg-light-danger mb-4 rounded border-danger border border-dashed p-6"
                                            {% elif message.tags == 'success' %}
                                                class="notice d-flex bg-light-success mb-4 rounded border-success border border-dashed p-6"
                                            {% else %}
                                                class="notice d-flex bg-light-primary mb-4 rounded border-primary border border-dashed p-6"
                                            {% endif %}>
                                        <i
                                                {% if message.tags == 'error' %}
                                                    class="ki-duotone ki-cross-circle fs-2tx text-danger me-4"
                                                {% elif message.tags == 'success' %}
                                                    class="ki-duotone ki-user-tick fs-2tx text-success me-4"
                                                {% else %}
                                                    class="ki-duotone ki-question fs-2tx text-primary me-4"
                                                {% endif %}
                                        >
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                        <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
                                            <div class="mb-3 mb-md-0 fw-semibold">
                                                <div class="fs-5 text-gray-700 pe-7">{{ message }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <div class="fv-row mb-10">
                                <label class="form-label fs-6 fw-bold text-dark">E-mail</label>
                                <input class="form-control form-control-lg form-control-solid" type="email" name="email" autocomplete="off" />
                            </div>
                            <div class="fv-row mb-10">
                                <div class="d-flex flex-stack mb-2">
                                    <label class="form-label fw-bold text-dark fs-6 mb-0">Password</label>
                                    {% if EMAIL_ACTIVE %}
                                        <a href="{% url 'forget-password' %}" class="link-primary fs-6 fw-bold">Forgot Password ?</a>
                                    {% endif %}
                                </div>
                                <input class="form-control form-control-lg form-control-solid" type="password" name="password" autocomplete="off" />
                            </div>
                            <div class="text-center">
                                <button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5">
                                    <span class="indicator-label">Continue</span>
                                    <span class="indicator-progress">Please wait...
										<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
                    <div class="d-flex flex-center fw-semibold fs-6">
{#                        <a href="#" class="text-muted text-hover-primary px-2" target="_blank">About</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

