{% extends 'panel/components/wrapper.html' %}
{% load custom_filters %}
{% load static %}
{% block content-wrapper %}

    <div id="kt_app_content" class="app-content  flex-column-fluid ">

        <div id="kt_app_content_container" class="app-container  container-fluid ">
            <div class="card mb-5 mb-xl-10">
                <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
                    <div class="card-title m-0">
                        <h3 class="fw-bold m-0">Edit Link</h3>
                    </div>

                </div>

                <div id="kt_account_settings_profile_details" class="collapse show">
                    <form class="form fv-plugins-bootstrap5 fv-plugins-framework" method="POST" action="#" novalidate="novalidate">
                    {% csrf_token %}
                        <div class="card-body border-top p-9">


                            <div class="row mb-6">
                                <label class="col-lg-4 col-form-label required fw-semibold fs-6">{{ form.subscription_title.label }}</label>

                                <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                    {{ form.subscription_title }}
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div></div>
                            </div>

                            <div class="row mb-6">
                                <label class="col-lg-4 col-form-label required fw-semibold fs-6">{{ form.subscription_link.label }}</label>

                                <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                    {{ form.subscription_link }}
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div></div>
                            </div>

                            <div class="row mb-0">
                                <label class="col-lg-4 col-form-label fw-semibold fs-6">Link expose</label>

                                <div class="col-lg-8 d-flex align-items-center">
                                    <div class="form-check form-check-danger form-switch form-check-custom fv-row">
                                        {{ form.expose }}
                                        <label class="form-check-label" for="allowmarketing"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-6">
                                <label class="col-lg-4 col-form-label fw-semibold fs-6">{{ form.panel_connection.label }}</label>

                                <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                    {{ form.panel_connection }}
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div></div>
                            </div>

                            <div class="row mb-6">
                                <label class="col-lg-4 col-form-label fw-semibold fs-6">User E-mail in xui panel</label>

                                <div class="col-lg-8 fv-row fv-plugins-icon-container">
                                    {{ form.user_email_in_xui_panel }}
                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div></div>
                            </div>





                        </div>

                        <div class="card-footer d-flex justify-content-end py-6 px-9">
                            <a href="{% url 'panel-admin-user-lists' %}" class="btn btn-light btn-active-light-danger me-2">Discard</a>
                            <button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Save Changes</button>
                        </div>
                        <input type="hidden"></form>
                </div>
            </div>

        </div>
    </div>

{% endblock content-wrapper %}