{% extends 'panel/components/wrapper.html' %}
{% load custom_filters %}
{% load static %}
{% block content-wrapper %}



    <div id="kt_app_content" class="app-content  flex-column-fluid ">
        <div id="kt_app_content_container" class="app-container  container-fluid ">
            <div class="row g-5 g-xl-10 mb-xl-10">
                <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-4 mb-md-5 mb-xl-10">


                    <div class="card card-flush h-md-50 mb-5 mb-xl-10" style="--darkreader-border--bs-card-border-color: 0">
                        <div class="card-header pt-5">
                            <div class="card-title d-flex flex-column">
                                <div class="d-flex align-items-center">
                                    <span class="fs-2hx fw-bold text-dark me-2 lh-1 ls-n2">User Base</span>
                                </div>
                            </div>
                        </div>

                        <div class="card-body pt-2 pb-4 d-flex align-items-center">


                            <div class="d-flex flex-column content-justify-center w-100">

                                <div class="d-flex fs-6 fw-semibold align-items-center">

                                    <div class="bullet w-8px h-6px rounded-2 bg-danger me-3"></div>

                                    <div class="text-gray-700 flex-grow-1 me-4">Today</div>

                                    <div class="fw-bolder text-gray-700 text-xxl-end">{{ last_24_h_active_users_count }}</div>

                                </div>

                                <div class="d-flex fs-6 fw-semibold align-items-center my-3">

                                    <div class="bullet w-8px h-6px rounded-2 bg-primary me-3"></div>


                                    <div class="text-gray-700 flex-grow-1 me-4">This Week</div>

                                    <div class="fw-bolder text-gray-700 text-xxl-end">{{ last_week_active_users_count }}</div>
                                </div>

                                <div class="d-flex fs-6 fw-semibold align-items-center">
                                    <div class="bullet w-8px h-6px rounded-2 me-3" style="background-color: #E4E6EF"></div>

                                    <div class="text-gray-700 flex-grow-1 me-4">Over all active users</div>

                                    <div class=" fw-bolder text-gray-700 text-xxl-end">{{ overall_active_users_count }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
{% endblock content-wrapper %}