{% load custom_filters %}
{% load static %}
{% block profile-head %}

<!--begin::Navs-->
<ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
    <!--begin::Nav item-->
    <li class="nav-item mt-2">
        <a
                {% if page_title|last == "User Profile" %}
                class="nav-link text-active-primary ms-0 me-10 py-5 active"
                {% else %}
                class="nav-link text-active-primary ms-0 me-10 py-5"
                {% endif %}
                href="{% url 'panel-user-profile' user.username %}">
            User Profile
        </a>
    </li>
    <!--end::Nav item-->
    <!--begin::Nav item-->
    <li class="nav-item mt-2">
        <a
                {% if page_title|last == "User Settings" %}
                    class="nav-link text-active-primary ms-0 me-10 py-5 active"
                {% else %}
                    class="nav-link text-active-primary ms-0 me-10 py-5"
                {% endif %}
                href="{% url 'edit-user' user.username %}">
            User Settings
        </a>
    </li>
    <!--end::Nav item-->
</ul>
<!--begin::Navs-->


{% endblock profile-head %}