{% extends 'panel/components/wrapper.html' %}
{% load custom_filters %}
{% load static %}
{% block content-wrapper %}


    <div id="kt_app_content" class="app-content  flex-column-fluid ">
        <div id="kt_app_content_container" class="app-container  container-fluid ">
            <div class="row g-5 g-xxl-8">
                <div class="card-body pb-0">
                    <div class="card mb-5 mb-xl-8" id="kt_timeline_widget_2_card">
                        <div class="card-header position-relative py-0 border-bottom-2">
                            <ul class="nav nav-stretch nav-pills nav-pills-custom d-flex mt-3" role="tablist">
                                
                                <li class="nav-item p-0 ms-0 me-8" role="presentation">
                                    <a class="nav-link btn btn-color-muted px-0 active" data-bs-toggle="pill" href="#kt_timeline_widget_2_tab_1" aria-selected="true" role="tab">
                                        <span class="nav-text fw-semibold fs-4 mb-3">
                                            All Links
                                        </span>

                                        <span class="bullet-custom position-absolute z-index-2 w-100 h-2px top-100 bottom-n100 bg-primary rounded"></span>
                                    </a>
                                </li>

                                <li class="nav-item p-0 ms-0 me-8" role="presentation">
                                    <a class="nav-link btn btn-color-muted px-0" data-bs-toggle="pill" href="#kt_timeline_widget_2_tab_2" aria-selected="false" role="tab" tabindex="-1">
                                        <span class="nav-text fw-semibold fs-4 mb-3">
                                            Restricted
                                        </span>

                                        <span class="bullet-custom position-absolute z-index-2 w-100 h-2px top-100 bottom-n100 bg-primary rounded"></span>
                                    </a>
                                </li>


                                <li class="nav-item p-0 ms-0" role="presentation">
                                    <a class="nav-link btn btn-color-muted px-0" data-bs-toggle="pill" href="#kt_timeline_widget_2_tab_3" aria-selected="false" role="tab" tabindex="-1">
                                        <span class="nav-text fw-semibold fs-4 mb-3">
                                            Exposed
                                        </span>

                                        <span class="bullet-custom position-absolute z-index-2 w-100 h-2px top-100 bottom-n100 bg-primary rounded"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <div class="tab-content">

                                <div class="tab-pane fade active show" id="kt_timeline_widget_2_tab_1" role="tabpanel">
                                    <div class="table-responsive">
                                        <table class="table align-middle gs-0 gy-4">
                                            <thead>
                                            <tr>
                                                <th class="p-0 w-10px"></th>
                                                <th class="p-0 w-25px"></th>
                                                <th class="p-0 min-w-400px"></th>
                                                <th class="p-0 min-w-100px"></th>
                                                <th class="p-0 min-w-125px"></th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% if links %}
                                                {% for link in links %}
                                                    {% if link.expose %}
                                                        <tr>
                                                            <td>
                                                                <span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center h-40px bg-danger"></span>
                                                            </td>

                                                            <td class="ps-0">
                                                                <div class="form-check form-check-custom form-check-danger form-check-solid">

                                                                    <i class="ki-duotone ki-paper-clip fs-1">
                                                                        <span class="path1"></span>
                                                                        <span class="path2"></span>
                                                                        <span class="path3"></span>
                                                                        <span class="path4"></span>
                                                                    </i>

                                                                </div>
                                                            </td>
                                                            <td>
                                                                <a href="{% url 'user_link_page' link.subscription_uuid %}" class="text-gray-800 text-hover-danger fw-bold fs-6">{{ link.subscription_title }}</a>

                                                                <span class="text-gray-600 fw-bold fs-7 d-block">Latest Utilized:: {{ link.updated_at }}</span>
                                                            </td>

                                                            <td class="text-end">
                                                                <span data-kt-element="status" class="badge badge-light-danger">Exposed</span>
                                                            </td>

                                                            <td class="text-end">
                                                                <div class="d-flex justify-content-end flex-shrink-0">

                                                                    {% if request.user.account_type == 'admin' or request.user.account_type == 'moderator' %}
                                                                        <a href="{% url 'admin-edit-link' link.subscription_uuid %}" class="btn btn-icon btn-color-muted btn-bg-light btn-active-color-danger btn-sm me-3">
                                                                            <i class="ki-duotone ki-message-edit">
                                                                                <span class="path1"></span>
                                                                                <span class="path2"></span>
                                                                            </i>
                                                                        </a>
                                                                    {% endif %}

                                                                    <a href="{% url 'user_link_page' link.subscription_uuid %}" class="btn btn-icon btn-color-muted btn-bg-light btn-active-color-primary btn-sm" title="Edit (Super User)">
                                                                        <i class="ki-duotone ki-paper-clip fs-3"></i>
                                                                    </a>

                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% else %}
                                                        <tr>
                                                            <td>
                                                                <span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center h-40px bg-primary"></span>
                                                            </td>

                                                            <td class="ps-0">
                                                                <div class="form-check form-check-custom form-check-primary form-check-solid">

                                                                    <i class="ki-duotone ki-paper-clip fs-1">
                                                                        <span class="path1"></span>
                                                                        <span class="path2"></span>
                                                                        <span class="path3"></span>
                                                                        <span class="path4"></span>
                                                                    </i>

                                                                </div>
                                                            </td>

                                                            <td>
                                                                <a href="{% url 'user_link_page' link.subscription_uuid %}" class="text-gray-800 text-hover-primary fw-bold fs-6">{{ link.subscription_title }}</a>

                                                                <span class="text-gray-600 fw-bold fs-7 d-block">Latest Utilized: {{ link.updated_at }}</span>
                                                            </td>

                                                            <td class="text-end">
                                                                <span data-kt-element="status" class="badge badge-light-primary">Restricted</span>
                                                            </td>

                                                            <td class="text-end">
                                                                <div class="d-flex justify-content-end flex-shrink-0">

                                                                    {% if request.user.account_type == 'admin' or request.user.account_type == 'moderator' %}
                                                                        <a href="{% url 'admin-edit-link' link.subscription_uuid %}" class="btn btn-icon btn-color-muted btn-bg-light btn-active-color-danger btn-sm me-3">
                                                                            <i class="ki-duotone ki-message-edit">
                                                                                <span class="path1"></span>
                                                                                <span class="path2"></span>
                                                                            </i>
                                                                        </a>
                                                                    {% endif %}

                                                                    <a href="{% url 'user_link_page' link.subscription_uuid %}" class="btn btn-icon btn-color-muted btn-bg-light btn-active-color-primary btn-sm" title="Edit (Super User)">
                                                                        <i class="ki-duotone ki-paper-clip fs-3">
                                                                            <span class="path1"></span>
                                                                            <span class="path2"></span>
                                                                        </i>
                                                                    </a>


                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td>
                                                        <span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center h-40px bg-primary"></span>
                                                    </td>

                                                    <td class="ps-0">

                                                    </td>
                                                    <a class="text-gray-800 text-hover-danger align-items-center fw-bold fs-6">No Links Available</a>

                                                    <td>
                                                    </td>

                                                    <td class="text-end">
                                                    </td>

                                                    <td class="text-end">
                                                        <span data-kt-element="bullet" class="bullet bullet-vertical align-items-end h-40px bg-danger"></span>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="kt_timeline_widget_2_tab_2" role="tabpanel">
                                    <div class="table-responsive">
                                        <table class="table align-middle gs-0 gy-4">
                                            <thead>
                                            <tr>
                                                <th class="p-0 w-10px"></th>
                                                <th class="p-0 w-25px"></th>
                                                <th class="p-0 min-w-400px"></th>
                                                <th class="p-0 min-w-100px"></th>
                                                <th class="p-0 min-w-125px"></th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% if restricted_links %}
                                                {% for link in restricted_links %}
                                                    <tr>
                                                        <td>
                                                            <span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center h-40px bg-primary"></span>
                                                        </td>

                                                        <td class="ps-0">
                                                            <div class="form-check form-check-custom form-check-primary form-check-solid">

                                                                <i class="ki-duotone ki-paper-clip fs-1">
                                                                    <span class="path1"></span>
                                                                    <span class="path2"></span>
                                                                    <span class="path3"></span>
                                                                    <span class="path4"></span>
                                                                </i>

                                                            </div>
                                                        </td>

                                                        <td>
                                                            <a href="{% url 'user_link_page' link.subscription_uuid %}" class="text-gray-800 text-hover-primary fw-bold fs-6">{{ link.subscription_title }}</a>

                                                            <span class="text-gray-600 fw-bold fs-7 d-block">Latest Utilized: {{ link.updated_at }}</span>
                                                        </td>

                                                        <td class="text-end">
                                                            <span data-kt-element="status" class="badge badge-light-primary">Restricted</span>
                                                        </td>

                                                        <td class="text-end">
                                                            <div class="d-flex justify-content-end flex-shrink-0">

                                                                {% if request.user.account_type == 'admin' or request.user.account_type == 'moderator' %}
                                                                    <a href="{% url 'admin-edit-link' link.subscription_uuid %}" class="btn btn-icon btn-color-muted btn-bg-light btn-active-color-danger btn-sm me-3">
                                                                        <i class="ki-duotone ki-message-edit">
                                                                            <span class="path1"></span>
                                                                            <span class="path2"></span>
                                                                        </i>
                                                                    </a>
                                                                {% endif %}

                                                                <a href="{% url 'user_link_page' link.subscription_uuid %}" class="btn btn-icon btn-color-muted btn-bg-light btn-active-color-primary btn-sm" title="Edit (Super User)">
                                                                    <i class="ki-duotone ki-paper-clip fs-3"></i>
                                                                </a>

                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td>
                                                        <span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center h-40px bg-primary"></span>
                                                    </td>

                                                    <td class="ps-0">

                                                    </td>
                                                        <a class="text-gray-800 text-hover-danger fw-bold fs-6">No Restricted Links Available</a>
                                                    <td>
                                                    </td>

                                                    <td class="text-end">
                                                    </td>

                                                    <td class="text-end">
                                                        <span data-kt-element="bullet" class="bullet bullet-vertical align-items-end h-40px bg-danger"></span>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="kt_timeline_widget_2_tab_3" role="tabpanel">
                                    <div class="table-responsive">
                                        <table class="table align-middle gs-0 gy-4">
                                            <thead>
                                            <tr>
                                                <th class="p-0 w-10px"></th>
                                                <th class="p-0 w-25px"></th>
                                                <th class="p-0 min-w-400px"></th>
                                                <th class="p-0 min-w-100px"></th>
                                                <th class="p-0 min-w-125px"></th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% if exposed_links %}
                                                {% for link in exposed_links %}
                                                    <tr>
                                                        <td>
                                                            <span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center h-40px bg-danger"></span>
                                                        </td>

                                                        <td class="ps-0">
                                                            <div class="form-check form-check-custom form-check-danger form-check-solid">

                                                                <i class="ki-duotone ki-paper-clip fs-1">
                                                                    <span class="path1"></span>
                                                                    <span class="path2"></span>
                                                                    <span class="path3"></span>
                                                                    <span class="path4"></span>
                                                                </i>

                                                            </div>
                                                        </td>

                                                        <td>
                                                            <a href="{% url 'user_link_page' link.subscription_uuid %}" class="text-gray-800 text-hover-danger fw-bold fs-6">{{ link.subscription_title }}</a>

                                                            <span class="text-gray-600 fw-bold fs-7 d-block">Latest Utilized: {{ link.updated_at }}</span>
                                                        </td>

                                                        <td class="text-end">
                                                            <span data-kt-element="status" class="badge badge-light-danger">Restricted</span>
                                                        </td>

                                                        <td class="text-end">
                                                            <div class="d-flex justify-content-end flex-shrink-0">

                                                                {% if request.user.account_type == 'admin' or request.user.account_type == 'moderator' %}
                                                                    <a href="{% url 'admin-edit-link' link.subscription_uuid %}" class="btn btn-icon btn-color-muted btn-bg-light btn-active-color-danger btn-sm me-3">
                                                                        <i class="ki-duotone ki-message-edit">
                                                                            <span class="path1"></span>
                                                                            <span class="path2"></span>
                                                                        </i>
                                                                    </a>
                                                                {% endif %}

                                                                <a href="{% url 'user_link_page' link.subscription_uuid %}" class="btn btn-icon btn-color-muted btn-bg-light btn-active-color-primary btn-sm" title="Edit (Super User)">
                                                                    <i class="ki-duotone ki-paper-clip fs-3"></i>
                                                                </a>

                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td>
                                                        <span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center h-40px bg-danger"></span>
                                                    </td>

                                                    <td class="ps-0">

                                                    </td>
                                                        <a class="text-gray-800 text-hover-danger fw-bold fs-6">No Exposed Links Available</a>
                                                    <td>
                                                    </td>

                                                    <td class="text-end">
                                                    </td>

                                                    <td class="text-end">
                                                        <span data-kt-element="bullet" class="bullet bullet-vertical align-items-end h-40px bg-primary"></span>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            
                            
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

{% endblock content-wrapper %}